<div class="m-block row">
    <div class="col-md-4"><b>Name: </b><span id="first_name">{{ contact.first_name }}</span></div>
    <div class="col-md-4"><b>Contacts</b></div>
    <div class="col-md-4"><a href="{% url 'login' %}">Login</a></div>    
</div>
<div class="m-block row">
    <div class="col-md-4"><b>Last name: </b><span id="last_name">{{ contact.last_name }}</span></div>
    <div class="col-md-4"><b>Email: </b><span id="email">{{ contact.email }}</span></div>
</div>
<div class="m-block row">
    <div class="col-md-4"><b>Date of birth: </b><span id="birth_date">{{ contact.birth_date|date:"Y-m-d" }}</span></div>
    <div class="col-md-4"><b>Jabber: </b><span id="jabber">{{ contact.jabber }}</span></div>
</div>
<div class="m-block row">
    <div class="col-md-4"><b>Photo: </b></div>
    <div class="col-md-4"><b>Skype: </b><span id="skype">{{ contact.skype }}</span></div>
</div>
<div class="m-block row">
    <div class="col-md-4"></div>
    <div class="col-md-4"><b>Other contacts: </b><span id="other">{{ contact.other }}</span></div>
</div>
<div class="m-block row">
    <div class="col-md-4"></div>
    <div class="col-md-4"><b>Bio: </b><span id="bio">{{ contact.bio }}</span></div>
</div>